<!doctype html>
<html>
<head>
  <title>Main</title>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="underscore-min.js"></script>
  <script type="text/javascript" src="backbone-min.js"></script>
  <script type="text/javascript" src="basic.js"></script>
</head>
<body>
<h1>Main Page</h1>

<iframe src="/iframe_content"></iframe>
<br/>

<a href="#close" class="replace-it">Clear Out / Refresh</a>
<a href="#close" class="send-it">Send</a>
</body>