<!doctype html>
<html>
<head>
  <title>Main</title>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="underscore-min.js"></script>
  <script type="text/javascript" src="backbone-min.js"></script>
  <script type="text/javascript" src="basic.js"></script>
</head>
<body>
<h1>Fixed Example</h1>
<hr/>
<a href="/broken">Broken Example</a>

<br/><br/>

<iframe src="/iframe_content_fixed"></iframe>
<br/>

<a href="#close" class="replace-it">Clear Out / Refresh</a>
<a href="#close" class="send-it">Send</a>

</body>